<ion-view view-title="About Us" class="account-setting">
	<ion-content>
		<ion-item class="col-100">
			<div class="card custom-margin">
					<div class="item item-divider custom-margin-inner" style="border-style: none;">
					Kudu VR
					</div>
					<div class="item item-text-wrap custom-margin-inner" style="border-style: none;">
					Our objective is to be a major global VR Streaming and Content Delivery Platform with state of the art technology and the highest Quality Subject-Matter.
					</div>
					<div class="item item-text-wrap custom-margin-inner" style="border-style: none;">
						Benefits for the producer: Distribution, broadcasting and fast monetization.
					</div>
					<div class="item item-text-wrap custom-margin-inner" style="border-style: none;">
						Kudu VR Parterns: Oculus, Samsung, BGH, YaSabe, LG, Playstation VR
					</div>
			</div>
		</ion-item>
	</ion-content>
</ion-view>
