<ion-view view-title="Categories" class="category-list">
	<div class="content-wrapper">
		<ion-view>
			<ion-content>
				<div class="content-inner all-categories">
					<div class="clearfix row-custom">
						<ion-list>
								<ion-item class="col-100 noborder" ng-repeat="category in categoryData" ng-click="openCategory({{category.id}})">
								  <!-- Start Item Grid	 -->
									<div class="list card" style="margin: 0px 0px;">
										<div class="item item-body ">
											<img class="full-image" actual-src="{{category.image}}" ng-src="img/default.jpg">
										</div>
									</div>
								</ion-item>
						 </ion-list>
					</div>
				</div>
			</ion-content>
		</ion-view>
	</div>
</ion-view>
