<ion-view cache-view="false" view-title={{categoryName}} ng-init="init();">
	<div class="content-wrapper">
		<ion-view>
			<ion-content>
				<div class="content-inner">
					<div class="clearfix row-custom">
						<ion-refresher
							pulling-text="Pull to refresh..."
							on-refresh="refreshCategoryData()">
						</ion-refresher>
						<ion-list>
								<ion-item class="col-100 noborder" ng-repeat="video in categoryData" ng-click="openVideo({{video.id}})">
								  <!-- Start Item Grid	 -->
									<div class="list card" style="margin: 0px 0px;">
										<div class="item item-body ">
											<img class="full-image" actual-src="{{video.thumbnail}}" ng-src="img/default.jpg">
											<h2 class="text-center">
												<span ng-bind-html="videoData.title"></span>
											</h2>
											<p style="text-align: center">
												<a ng-click="openVideo({{video.id}})" class="subdued"><i class="is-icon-view"></i> {{video.views}}</a>
												<a ng-click="openVideo({{video.id}})" class="subdued"><i class="far fa-calendar-alt"></i> {{video.registered}}</a>
											</p>
										</div>
									</div>
								</ion-item>
						 </ion-list>
						<ion-infinite-scroll
							ng-if="canLoadMoreCategoryData"
							on-infinite="loadMoreCategoryData()"
							distance="5%">
						</ion-infinite-scroll>
					</div>
				</div>
			</ion-content>
		</ion-view>
	</div>
</ion-view>
