<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content edge-drag-threshold="false" drag-content="false">
    <ion-nav-bar class="bar-stable is-bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <img src="http://kuduvr.us/tv/upload/photos/2018/04/3pxra5H1EexuWbv3T3FN_20_7ad4e8a67064ed997f7aaeb5b378a5c5_image.png" style="width:32px" alt="">
        <a href="#/app/search" class="button button-icon button-clear is-icon-magnifying-glass">
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" class="is-slidemenu">
    <ion-content>
      <div class="header-menu logged-in clearfix">
            <img class="avatar" ng-src="http://kuduvr.us/tv/upload/photos/2018/04/3pxra5H1EexuWbv3T3FN_20_7ad4e8a67064ed997f7aaeb5b378a5c5_image.png">
          <div class="info">
            <span class="name"><b>KUDU VR</b></span>
          </div>
      </div>
      <ion-list>
        <ion-item menu-close ng-class="activeMenu('home')" href="#/app/home">
          <i class="is-icon-house"></i>
          Home
        </ion-item>
        <ion-item menu-close ng-class="activeMenu('categories')" href="#/app/categories">
          <i class="is-icon-video-player"></i>
          Categories
        </ion-item>
         <ion-item menu-close ng-class="activeMenu('about')" href="#/app/about">
          <i class="is-icon-avatar"></i>
          About Us
        </ion-item>
        <ion-item menu-close ng-class="activeMenu('services')" href="#/app/services">
          <i class="is-icon-agenda"></i>
          Services
        </ion-item>
		    <ion-item menu-close href="mailto:info@kuduvr.us" target="_system">
          <i class="is-icon-envelope"></i>
          Contact us
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
