<ion-view view-title="Contact" class="account-setting">
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">First Name(*)</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Last Name(*)</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input type="email">
			</label>
			<label class="item item-input">
				<span class="input-label">Phone</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Address Line 1</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Address Line 2</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">City(*)</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Post/Zip Code</span>
				<input type="text">
			</label>
		</div>
	</ion-content>
	<ion-footer-bar class="footer">
		<button class="button button-clear button-positive">
			SUBMIT
		</button>
	</ion-footer-bar>
</ion-view>
