<ion-view view-title="Our Services" class="privacy">
  <ion-content>
    <ion-item class="col-100">
      <div class="card custom-margin">
        <!-- <div class="item item-divider cardcustomcopy">
					LATINOATHLETE
					</div> -->
        <div class="item item-text-wrap custom-margin-inner">
          Development of apps and content for virtual reality. Using video game technology, to improve user interactivity and holophonic 3D sound design to create more immersive and disruptive experiences. The team members have technical and artistic skills for the development of VR apps and content on mobile devices, providing innovative solutions for verticals such as advertising and entertainment.
        </div>
        <div class="item item-text-wrap custom-margin-inner">
          Toon island: A VR experience for children.An island that hides a great treasure, to find it you must go through and understand the clues that the characters present to us.
        </div>
        <div class="item item-text-wrap custom-margin-inner">
          Virtual Reality (VR) Application Ideas.
        </div>
        <div class="item item-text-wrap custom-margin-inner">
          Virtual Reality environments for Advertising:Immersive environments where the user is able to, through his or her mobile phone, virtual reality viewer and headphones, feel abstracted and part of a virtual environment in 3 dimensions where it would be able to browse, interact and explore. Placed in strategic locations of the user interface there will be references to a particular brand or a company’s product, either with linear / 360 photos and videos, or animated 3D models. Seeking to generate an emotional connection between potential customers and the brand. It’s recommended to companies looking to incorporate a reward at the end of the experience to motivate users (ex: Coupon discount, promotional or merchandising company).
        </div>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
