/* Empty. Add your own CSS if you like */
 #useravatar {
   height: 9vw;
   width: 9vw;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px
 }
 .custom-margin {
   padding: 16px;
   margin: 16px;
 }

 .custom-margin-inner {
   padding: 10px;
   margin: 10px;
 }

 .custom-margin-inner-cat {
   padding: 0;

 }

.cardcustomcopy {
  border-style: none;
  font-size: 12px!important
}

.noborder {
  border-width: 0px;
  padding: 0!important;
}

    #container {
        padding: 0 20px 50px;
    }
    .error {
        color: red;
    }
    a {
        word-wrap: break-word;
    }

    code {
        font-size: 0.8em;
    }

    #player2-container .mejs__time-buffering, #player2-container .mejs__time-current, #player2-container .mejs__time-handle,
    #player2-container .mejs__time-loaded, #player2-container .mejs__time-hovered, #player2-container .mejs__time-marker, #player2-container .mejs__time-total {
        height: 2px;
    }

    #player2-container .mejs__time-total {
        margin-top: 9px;
    }
    #player2-container .mejs__time-handle {
        left: -5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #ffffff;
        top: -5px;
        cursor: pointer;
        display: block;
        position: absolute;
        z-index: 2;
        border: none;
    }
    #player2-container .mejs__time-handle-content {
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
    }
