<ion-view view-title="{{userInfo.username | uppercase}}" class="account-setting">
	<div class="content-wrapper">
	  	<ion-tabs class="tabs-top tabs-striped is-tab-2-columns">
		 	<ion-tab title="Profile">
		 		<ion-view>
 			        <ion-content>
								<div class="list card">
									  <div class="item item-avatar">
									    <img actual-src="{{userInfo.avatar}}" ng-src="img/default.jpg">
									    <h2>{{userInfo.username | uppercase }}</h2>
									    <p>{{userInfo.email | uppercase }}</p>
									  </div>

									  <div class="item item-body">
									    <img class="full-image" actual-src="{{userInfo.cover}}" ng-src="img/default.jpg">
									    <p>
									      {{userInfo.about}}
									    </p>
									    <p>
									      <a href="#" class="subdued">Gender: {{userInfo.gender}}</a>
									      <a href="#" class="subdued">Language: {{userInfo.language}}</a>
									    </p>
									  </div>
									</div>
						</ion-content>
		      </ion-view>
		 	</ion-tab>
		 	<!-- <ion-tab title="My videos">
		 		<ion-view>
 			        <ion-content>
								<ion-list>
										<ion-item class="col-100 noborder" ng-repeat="video in latestViewData" ng-click="openVideo({{video.id}})">
											<div class="list card" style="margin: 0px 0px;">
												<div class="item item-avatar">
													<img src="{{video.owner.avatar}}">
													<h2 style="margin-top:10px">{{video.owner.username}}</h2>
												</div>
												<div class="item item-body ">
													<img class="full-image" actual-src="{{video.thumbnail}}" ng-src="img/default.jpg">
													<h2>
														{{video.title}}
													</h2>
													<p>
														<a href="#" class="subdued"><i class="is-icon-view"></i> {{video.owner.username}}</a>
														<a href="#" class="subdued"><i class="far fa-calendar-alt"></i> {{video.registered}}</a>
													</p>
												</div>
											</div>
										</ion-item>
								 </ion-list>
						</ion-content>
		      </ion-view>
		 	</ion-tab> -->
		</ion-tabs>
	</div>
</ion-view>
