<ion-view view-title="{{videoData.title}}" class="item-detail">
	<ion-content>
		<div class="thumbnail">
			<video ng-if="getVideoType()=='Uploaded'" id="player1" poster="{{videoData.thumbnail}}" preload="none" controls playsinline webkit-playsinline>
	        <source src="{{video_url}}" type="video/mp4">
	    </video>
			<iframe ng-if="getVideoType()=='Vimeo'" src="{{video_url}}"></iframe>
			<iframe ng-if="getVideoType()=='YouTube'" allowfullscreen="allowfullscreen"
        mozallowfullscreen="mozallowfullscreen"
        msallowfullscreen="msallowfullscreen"
        oallowfullscreen="oallowfullscreen"
        webkitallowfullscreen="webkitallowfullscreen" src="{{video_url}}"></iframe>
		</div>
		<div class="title">
			<span>{{videoData.title}}</span>
		</div>
		<div class="content">
			<div class="meta">
				<span class="category">
					Category: <b>{{videoData.category_name}}</b>
				</span>
			</div>
			<div class="description">
				{{videoData.description}}
			</div>
		</div>
	</ion-content>
	<ion-footer-bar class="footer">
		<div class="row text-center">
			<div class="col-25">
				<span class="is-icon-view"></span>
					{{videoData.views}}
			</div>
			<div class="col-25">
				<!-- <span class="is-icon-like"></span>
				{{videoData.stats.likes}} -->
			</div>
			<div class="col-25" ng-click="shareVideo()">
				<!-- <a href="#" onclick="return false;">
					<span class="is-icon-share"></span>
					{{videoData.stats.shares}}
				</a> -->

			</div>
			<div class="col-25">
				<span class="far fa-calendar-alt"></span>
				{{videoData.registered}}
			</div>
		</div>
	</ion-footer-bar>
</ion-view>
